{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} {% endblock %}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body >
	<header class="flex bg-blue-900 border-b border-blue-200 fixed top-0 inset-x-0 z-100 h-16 items-center xs:w-full">
		<div class="w-full max-w-screen-xl relative mx-auto px-6">
			
			<nav class="text-white px-0">
				<ul >
				<a href=""><li class="inline-block text-center px-10 py-4"><img  src="" alt="logo goes here"></li></a>
				<a href="#"><li class="hover:bg-blue-500 text-blue font-bold inline-block text-center px-10 py-4"> HOME </li></a>
				<a href="#"><li class="hover:bg-blue-500 text-blue font-bold inline-block text-center px-10 py-4"> ABOUT US </li></a>
				<a href="#"><li class="hover:bg-blue-500 text-blue font-bold inline-block text-center px-10 py-4"> CONTACT </li></a>
				<a href="#"><li class="hover:bg-blue-500 text-blue font-bold inline-block text-center px-10 py-4"> OUR WORKS</li></a>
				</ul>
			</nav>
			<!--button class="bg-blue-500 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded">HOME</button>
			<button class="bg-blue-500 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded">ABOUT</button>
			<button class="bg-blue-500 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded">CONTACT</button-->
		</div>
		
	</header>
	<main>
	{% block content %}

	{% endblock %}
	</main>
</body>
</html>